@import '../../common/colors.scss';


.library-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    .texts {
        display:flex;
        flex-direction: column;
        width: 45rem;
    }
}

.texts-list {
    thead {
        th {
            @include midAttentionColorScheme;
        }
    }
    tbody {
        tr {
            @include midAttentionAreaWithMoreHighlight;
        }

    }
}

.texts-list td, .texts-list th {
    border: 1px solid $guide;
    border-width: 0 0 1px;
    padding: 0.5em 0.75em;
    vertical-align: top;
}