@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import './common/colors.scss'
* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
}

.definitionDivHidden {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}